{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    ["transform-decorators-legacy"],
    ["import", {"libraryName": "antd", "style": "css"}]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
