

.react-grid-layout {
  .react-grid-item {
    &:not(.react-grid-placeholder) {
      box-shadow: 0 0 5px #d2d2d2;
      -webkit-box-shadow: 0 2px 5px #d2d2d2;
      background: #fff;
    }
    &.react-grid-placeholder {
      border: 2px dashed #333;
      background: #fff;
    }
  }

  .dy-card-head {
    height: 34px;
    line-height: 34px;
    background-color: #f5f5f5;
    cursor: move;
  }
}
